<div class="row">
    <div class="col-md-4">
        <pm-product-list
            [displayCode]="(productState.displayCode$ | async)!"
            [products]="(productState.products$ | async)!"
            [selectedProduct]="(productState.selectedProduct$ | async)!"
            [errorMessage]="(productState.errorMessage$ | async)!"
            (displayCodeChanged)="checkChanged()"
            (initializeNewProduct)="newProduct()"
            (productWasSelected)="productSelected($any($event))"
        ></pm-product-list>
    </div>
    <div class="col-md-8">
        <pm-product-edit
            [selectedProduct]="(productState.selectedProduct$ | async)!"
            [errorMessage]="(productState.errorMessage$ | async)!"
            (clearCurrent)="clearProduct()"
            (update)="updateProduct($any($event))"
            (delete)="deleteProduct($any($event))"
            (create)="saveProduct($any($event))"
        ></pm-product-edit>
    </div>
</div>
