<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand">{{pageTitle}}</a>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink='/welcome'>Home</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink='/products'>Product List</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a [routerLink]="['/products', 0, 'edit']">Add Product</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="isLoggedIn">
                <a routerLink='/login'>Welcome {{ userName }}</a>
            </li>
            <li *ngIf="!isLoggedIn">
                <a routerLink='/login'>Log In</a>
            </li>
            <li *ngIf="isLoggedIn">
                <a (click)="logOut()" style="cursor: pointer">Log Out</a>
            </li>
        </ul>
    </div>
</nav>