<div class='panel panel-primary'>
  <div class='panel-heading'>
    {{pageTitle}}
  </div>

  <div class='panel-body' *ngIf='products?.length'>
    <div class='row form-group'>
      <pm-criteria class='col-md-12'
        [defaultListFilter]='filterBy'
        (valueChange)='onValueChange($event)'>
      </pm-criteria>
    </div>

    <div class= 'list-group'>
      <button type='button'
              class='list-group-item'
              *ngFor='let product of filteredProducts'
              [ngClass]="{'active': product?.id === selectedProduct?.id}"
              (click)='onSelected(product)'>
        {{ product.productName }}
        <ng-container *ngIf='displayCode'>
          ({{ product.productCode }})
        </ng-container>
      </button>
    </div>
  </div>

  <div class="panel-footer">
    <div class="row">
      <label class="col-md-8">
        <input type="checkbox" [(ngModel)]="displayCode"> Display Product Code
      </label>
      <div class="col-md-4 text-right">
        <a class="btn btn-primary" (click)='onAdd()'>
          Add
        </a>
      </div>
    </div>
  </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>