<div class='row'>
  <div class='col-md-4'>
    <pm-product-list
    [displayCode]="displayCode$ | async"
    [products]="products$ | async"
    [selectedProduct]="selectedProduct$ | async"
	  [errorMessage]="errorMessage$ | async"
    (checked)="checkChanged($event)"
    (initializeNewProduct)="(newProduct())"
    (selected)="productSelected($event)"></pm-product-list>
  </div>
  <div class='col-md-8'>
    <pm-product-edit
    [selectedProduct]="selectedProduct$ | async"
	  [errorMessage]="errorMessage$ | async"
    (clearCurrent)="clearProduct()"
    (update)="updateProduct($event)"
    (delete)="deleteProduct($event)"
    (create)="saveProduct($event)"></pm-product-edit>
  </div>
</div>
