<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="mx-auto">
        <img src="./assets/images/logo.jpg"
             class="img-responsive"
             style="max-height:300px;padding-bottom:50px" />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="text-center col-md-12">Developed by:</div>
      <div class="col-4"
           style="width: 200px;">
        <h3 class="text-center">Deborah Kurata</h3>

        <div class="text-center">@deborahkurata</div>
        <div class="text-center">
          <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
        </div>
      </div>
      <div class="col-4"
           style="width: 200px;">
        <h3 class="text-center">Duncan Hunter</h3>

        <div class="text-center">@dunchunter</div>
        <div class="text-center">
          <a href="https://duncanhunter.com.au">duncanhunter.com.au</a>
        </div>
      </div>
    </div>
  </div>
</div>